
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-content bg-white">


    <!-- inner page banner -->
    <div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url(/Content/images/banner/bnr4.jpg);">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white">Forget Password</h1>
                <!-- Breadcrumb row -->
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a href="@Url.Action("Login","User")">Login</a></li>
                        <li>Forget Password</li>
                    </ul>
                </div>
                <!-- Breadcrumb row END -->
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="section-full content-inner shop-account">
        <!-- Product -->
        <div class="container">
           
            <div class="row dzseth">
                <div class="col-lg-6 col-md-6 m-b30" style="height: 418px;">
                    <div class="p-a30 border-1 seth" style="height: 418px;">
                        <div class="tab-content">
                            <h4 class="font-weight-700">NEW CUSTOMER</h4>
                            <p class="font-weight-600">By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                            <a class="site-button m-r5 button-lg radius-no" href="javascript:void(0);">CREATE AN ACCOUNT</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 m-b30" style="height: 418px;">
                    <div class="p-a30 border-1 seth" style="height: 418px;">
                        <div class="tab-content nav">
                            @using (Html.BeginForm("ForgetPassword", "User", FormMethod.Post)) {
                                <form id="forgot-password" class="tab-pane active col-12 p-a0 " >
    <h4 class="font-weight-700">FORGET PASSWORD ?</h4>
    <p class="font-weight-600">We will send you an email to reset your password. </p>
    <div class="form-group">

        @*@Html.LabelFor(null, "EMAIL *", htmlAttributes: new { @class = "font-weight-700" })
            @Html.TextBoxFor(null, "email", htmlAttributes: new { @class = "form-control", placeholder = "Type Email" })*@
        <input name="dzName" required="" class="form-control" placeholder="Your Email " type="email">
    </div>
    <div class="text-left">
        <a class="site-button outline gray button-lg radius-no" href="@Url.Action("Login","User")">Back</a>
        <button class="site-button pull-right button-lg radius-no">Submit</button>
    </div>
</form> }

                            

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </div>


</div>



 

