@model Model.Activity

@{
    ViewBag.Title = "deleteAllActivity";
    Layout = "~/Views/Shared/_AdminGartenLayout.cshtml";
}

<h2>delete All Activity</h2>

<h3>Are you sure you want to delete All?</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
