@model List<String>

@{
    ViewBag.Title = "GetEstimateByEvent";
    Layout = "~/Views/Shared/_AdminGartenLayout.cshtml";
}

<h2>GetEstimateByEvent</h2>
<br />

<br />

@foreach (var item in (List<String>)ViewBag.List)
{
    <table class="table table-hover">
        <tr>
            <td>
                @item
            </td>
        </tr>
    </table>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

